<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Header Buiding</title>
    <link rel="stylesheet" href="../static/css/home.css">
</head>
<body>
    <header>
        <div class="inner">
            <div class="logo">
                <div>
                    <!-- The below line can be an image or a h1, either will work -->
                    <img src="../static/image/chitaduc.png" width="350px" height="350px" alt="Google logo">
                    <!-- <h1>My Logo</h1> -->
                </div>
            </div>

            <nav>
                <!-- Each of the below lines look complicated. There is a reason for this markup though!
                <li> tag will be the container for the table.
                <span> will be the part that centers the content inside it
                <a> is the actual clickable part -->
                <li><span><a href="">About</a></span></li>
                <li><span><a href="">Work</a></span></li>
                <li><span><a href="">History</a></span></li>
                <li><span><a href="" class="button">Contact</a></span></li>
                <!-- On the line above, remove the class="button" if you don't want the final
                element to be a button -->
            </nav>
        </div>
    </header>
</body>
</html>